<%= link_to("<< Back to List", {:action => 'index', :page_id => @section.page_id}) %>
<div>
	<h2>Delete Section</h2>

	<%= form_for(:section, :url => {:action => 'destroy', :id => @section.id, :page_id => @section.page_id}) do |f| %>
	<p>Are you sure you want to permanently delete this section?</p>
	<p><%= @section.name %> </p>
	<div>
		<%= submit_tag("Delete Section")%>
	</div>
	<% end %>
</div>