<%= link_to("<< Back to List", {:action => 'index', :page_id => @section.page_id}) %>
<div>
	<h2>Update Section</h2>

	<%= form_for(:section, :url => {:action => 'update', :id => @section.id, :page_id => @section.page_id}) do |f| %>
			<%= render(:partial => "form", :locals => {:f => f}) %>

	<div>
		<%= submit_tag("Update Section") %>
	</div>
	<% end %>
</div>