<% subjects ||= [] %>
<ul>
<% subjects.each do |subject| %>
	<li><%= subject.name %></li>
	<ul>
		<% subject.pages.visible.sorted.each do |page| %>
		<li><%= link_to(page.name, :action =>'show', :permalink => page.permalink) %></li>
		<% end %>
	</ul>
<% end %>
</ul>